<div class="container">
  <mat-card>
    <mat-card-title class="title-header"
      >Identify and Remove Duplicates</mat-card-title
    >
    <mat-card-content>
      <div class="file-input">
        <button mat-raised-button color="primary">
          <mat-icon>attach_file</mat-icon>
          <input type="file" id="file1" (change)="onFileSelected($event, 1)" />
          Select File
        </button>
        <span *ngIf="file1Content">
          <mat-icon (click)="removeFile(1)" class="remove"
            >remove_circle</mat-icon
          >
          {{ file1Name }}
        </span>
      </div>
      <div class="buttons">
        <button mat-raised-button color="primary" (click)="submitFiles()">
          <mat-icon>save</mat-icon>
          Submit File
        </button>
        <button
          mat-raised-button
          color="accent"
          (click)="downloadFile()"
          [disabled]="!cleanedJson"
        >
          <mat-icon>download</mat-icon>
          Download Cleaned File
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
